name: Midterm Image Pipeline

on: [push]

jobs:
  build-and-process:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install libraries
      run: |
        pip install -r requirements.txt

    - name: Run Test
      run: pytest test_process.py

    - name: Run Image Processor
      run: python processor.py

    - name: Upload Processed Images
      uses: actions/upload-artifact@v4
      with:
        name: finished-images
        path: output_images/
